@model IEnumerable<SCBHarmonization.Models.Credential>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutlte.cshtml";
}
@*<style>
    tr:hover {
    background-color: #f5f5f5;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
    th {
        background-color: #202A44;
        color: white;
    }

</style>*@

<h3>Reset Credentials</h3>

<!--<table class="table table-borderless" style="margin-top: 20px;">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.USERNAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KEY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.USERNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KEY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
            </td>
        </tr>
    }

</table>

<div class="col-md-12">-->
    @*<div class="btn btn-outline-danger col-md-3" style=" font-size: 20px;background-color: #EF8157; color: white; padding: 15px 32px; margin-top: 60px; margin-left: 20px; margin-right: 20px; margin-bottom: 20px; ">
        @Html.ActionLink("Reset Credentials", "ResetCredentials", null, new { id = "OT", style = "color: White; font-size: 20px" })
    </div>*@
    <!--<button style="color:white;" type="button" class="btn btn-danger">@Html.ActionLink("Reset Credentials", "ResetCredentials", null, new { id = "OT", style = "color: White; font-size: 20px" })</button>
</div>
<br />

<br /><br />
<h4>ResetCredentials Response :</h4>
<br />
<h5>Status : @ViewBag.Status</h5>
<br />
<h5>Message : @ViewBag.Message</h5>
<br />
<h5>Description : @ViewBag.Description</h5>
<br />
<h5>IV : @ViewBag.IV</h5>
<br />
<h5>Key : @ViewBag.Key</h5>-->

<html>
<body>

    <section class="content">
        <div class="container-fluid">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Credentials</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.USERNAME)</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.KEY)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IV)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Date)
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.USERNAME)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.KEY)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IV)

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) @*|
                                        @Html.ActionLink("Details", "Details", new { id = item.id }) |*@
                                    </td>
                                </tr>
                            }

                        </tbody>
                        <tfoot>
                            @*<tr>
                                <th>@Html.DisplayNameFor(model => model.USERNAME)</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.KEY)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IV)
                                </th> 
                                <th>
                                    @Html.DisplayNameFor(model => model.Date)
                                </th>
                                <th>Action</th>
                            </tr>*@
                        </tfoot>
                    </table>
                    <div class="card-footer clearfix">
                        <button type="button" class="btn btn-danger float-left"><i class="fas fa-plus"></i> @Html.ActionLink("Reset Credentials", "ResetCredentials", null, new { id = "OT", style = "color: White; font-size: 20px" })</button>
                    </div>

                </div>
                <!-- /.card-body -->
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                             <h3 class="card-title">Reset Credentials Response</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">Status</th>
                                        <th  style="width: 40px">Message</th>
                                        <th>Description</th>
                                        <th>IV</th>
                                        <th>Key</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@ViewBag.Status</td>
                                        <td>@ViewBag.Message</td>
                                        <td>
                                            @ViewBag.Description
                                        </td>
                                        <td>@ViewBag.IV</td>
                                        <td>@ViewBag.Key</td>

                                    </tr>
                          
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
    </section>
    <script>
    $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });</script>
</body>
</html>
