@model List<SCBHarmonization.ViewModels.tbl_LoadingGiudeLineViewModel>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Loading Guidelines</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div class="row" style="margin-top: 45px;">
        <div class="col-md-6">
            <h2 style="margin-left: 70px;">Loading GiudeLines</h2>
        </div>
        <div class="col-md-6">
            @using (Html.BeginForm("LoadingGuideines", "LoadingGuideLine", FormMethod.Post, new { enctype = "multipart/form-data", @style = "margin-top: 20px; position:relative; left: 380px;" }))
            {
                <a href="@Url.Action("Index","Home")" class="btn btn-info">Home</a>

                <input type="submit" value="Print to Pdf" class="btn btn-danger" />


            }
        </div>
    </div>
    <table class="table table-bordered" style="margin-left: 70px; width: 1500px;">
        <thead class="table-dark">
            <tr>
                <th>S/N</th>
                <th>Parameter Name</th>
                <th>Description</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>@(Model.IndexOf(item) + 1)</td>
                    <td>@item.ParameterName</td>
                    <td>@item.Description</td>
                    <td>@item.Comment</td>
                </tr>

            }
        </tbody>
    </table>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>